<?xml version="1.0" encoding="utf-8" ?>
<data>
	
	<module id="module" type="module.HelloWorldModule">
		<argument ref="view" />
	</module>

	<view if="target-js" id="view" type="js.HelloWorldView" />
	<view if="target-neko" id="view" type="neko.HelloWorldView"/>
	<view if="target-php" id="view" type="php.HelloWorldView"/>
	<view if="target-flash" id="view" type="flash.HelloWorldView"/>
	
</data>